.font-size {
  font-size: 15px;
  line-height: 1.5;
}
html {
  background-color: #1222;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
body .container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
footer {
  background-color: #511;
  text-align: center;
}
header {
  background-color: #511;
}
footer {
  background-color: #511;
}
