html {
  background-color: #EFEFEF;
}
body {
  font-family: 'Montserrat', sans-serif;
}
body .container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  color: #D8D1AC;
}
nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav a {
  color: #D7d7d7;
  display: flex;
  justify-content: flex-end;
  width: 150px;
  flex-direction: column;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav li {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav #social {
  display: flex;
  justify-content: center;
}
footer {
  background-color: #7EAFBA;
  font-family: 'Secular One', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}
footer a {
  border: 1px solid;
}
header {
  background-color: #7EAFBA;
  padding-top: 30px;
  border-bottom: 5px solid #e84916;
  border-top: 5px solid #e84916;
  font-family: 'Secular One', sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
header #branding {
  border-right: 1px solid;
  width: 40%;
  align-content: center;
}
header .container {
  display: flex;
  justify-content: center;
}
header .highlight,
header .current a {
  color: #e84916;
}
header a:hover {
  color: #e84916;
}
#showcase {
  min-height: 400px;
  background: url("../img/banter-snaps-9o8YdYGTT64-unsplash.jpg") no-repeat 0;
}
#showcase .container {
  background: #D8D1AC;
  opacity: 80%;
  color: #e84916;
  border-radius: 2px;
  text-align: center;
}
#news .container {
  color: #474f60;
  text-align: center;
}
#bottom .container {
  background: #EFEFEF;
  color: #474f60;
  display: flex;
  text-align: center;
}
@media (max-width: 500px) {
  #bottom .container {
    flex-direction: column;
  }
}
