html {
  background-color: #EFEFEF;
}
body {
  font-family: 'Montserrat', sans-serif;
}
body .container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  color: #D8D1AC;
}
body .container button {
  color: #e84916;
  opacity: 70%;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  font-weight: 400;
  background-color: transparent;
  padding: 6px 12px;
}
nav {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 30px;
}
@media (max-width: 500px) {
  nav {
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  nav #social {
    background: transparent;
    width: 100%;
  }
  nav ul {
    justify-content: center;
    padding: 0;
  }
}
nav a {
  color: #D7d7d7;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  justify-content: center;
}
nav p {
  color: #474f60;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav li {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav #social {
  display: flex;
  border-bottom: 1px solid;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
footer {
  background-color: #7EAFBA;
  font-family: 'Secular One', sans-serif;
  color: #474f60;
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a:hover {
  color: #e84916;
}
footer a {
  color: #D8D1AC;
}
footer .social {
  align-items: center;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
header {
  background-color: #7EAFBA;
  padding-top: 1px;
  border-bottom: 5px solid #e84916;
  border-top: 5px solid #e84916;
  font-family: 'Secular One', sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
header #branding {
  border-right: 1px solid;
  width: 40%;
  text-align: center;
  margin: auto;
}
header .container {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  header .container {
    flex-direction: column;
  }
  header .container #branding {
    width: 100%;
    border-bottom: 5px solid;
  }
}
header .highlight,
header .current a {
  color: #e84916;
}
header a:hover {
  color: #e84916;
}
#showcase {
  min-height: 400px;
  background: url("../img/banter-snaps-9o8YdYGTT64-unsplash.jpg") no-repeat 0;
}
#showcase .container {
  background: #D8D1AC;
  opacity: 80%;
  color: #e84916;
  border-radius: 2px;
  text-align: center;
}
#news .container {
  color: #474f60;
  text-align: center;
}
#bottom .container {
  background: #EFEFEF;
  color: #474f60;
  display: flex;
  text-align: center;
}
#bottom .container .fas {
  color: #7EAFBA;
}
@media (max-width: 500px) {
  #bottom .container {
    flex-direction: column;
  }
}
#divider {
  text-align: center;
  color: #e84916;
  font-family: 'Lato', sans-serif;
}
#divider .container {
  background-color: #D8D1AC;
  color: #e84916;
}
#media {
  border-top: 5px solid #e84916;
  margin: 0 auto;
  padding-bottom: 2rem;
}
#media .container {
  display: flex;
  text-align: center;
}
#media .container .img {
  margin: 0 auto;
}
#media .container .img img {
  width: 93.33%;
}
