.contact {

   .card {
       border: 1px solid gray;
       height: 70;
       width: 70;
       background-color: @fnt-color;
   }

   .card-id {
    // color: @hover-color;
    // opacity: 70%;
    // font-family: @font-sub;
    // border-radius: 5px;
    // font-weight: 400;
    // background-color: transparent;
    // padding: 6px 12px;
    // margin: 2%;

    .btn();
    
       border: 2px solid;
}



img {

    border: 5px solid;
    width: 400px;
    
}

}