footer {
    background-color: @header-color;
    font-family: @font-header;
    color: @font-bottom;
    // margin: auto;
    // width: 80%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;

    // mixin
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a:hover {
        color: @hover-color;
        
    }

    a {
        color: @fnt-color;
    }

    .social {

        // mixin
        align-items: center;
        width: 100px;
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
        

        i.fab.fa-twitter:hover {
            color: @twitter-color;
        }

        i.fab.fa-facebook:hover {
            color: @facebook-color;
        }
        
    }
}
