
// html
html {
    background-color: @background-main;
    font-size: 82.5%;
    

}
// body
body {
    font-family: @font-main;
    .container {
        width: 100%;
        margin: auto;
        overflow: hidden;
        color: @fnt-color;

        button {

            .btn();
        }
        
    }


}