// Header
header {
    background-color: @header-color;
    padding-top: 1px;
    border-bottom: 5px solid @hover-color;
    border-top: 5px solid @hover-color;
    font-family: @font-header;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    
    // border: 2px dashed;

    

    #branding {
        border-right: 1px solid;
        
        width: 40%;
        
        text-align: center;
        margin: auto;
    }

    .container {
        display: flex;
        // border: 2px solid;
        justify-content: center;

        @media (max-width: 500px) {
           
            flex-direction: column;
           
           

            #branding {
                width: 100%;
                border-bottom: 5px solid;
            }


    
        }
    }
}

header .highlight, header .current a {
    color: @hover-color;
}

header a:hover {
    color: @hover-color;

} 

#showcase {
    min-height: 400px;
    background:url("../img/banter-snaps-9o8YdYGTT64-unsplash.jpg") no-repeat 0;

    .container {
        background: @fnt-color;
        opacity: 80%;
        color: @hover-color;
        border-radius: 2px;
        text-align: center;
        
        
    }

    
}

#news {
    .container {
        color: @font-bottom;
        text-align: center;
    }
}

#bottom {

    .container {
        background: @background-main;
        color: @font-bottom;
        display: flex;
        text-align: center;

        @media (max-width: 500px) {
            flex-direction: column;
        }

    }

}

#divider {
    text-align: center;
    color: @hover-color;
    font-family: @font-sub;

    .container {
        background-color: @fnt-color;
    }
}

#media {
    border-top: 1px dashed;
    margin: 0 auto;
    padding-bottom: 2rem;

    .container {
        // border: 5px solid;
        display: flex;
        // flex-direction: column;
        text-align: center;


        .img {
            margin: 0 auto;
    
            img {
                width: 93.33%;
    
            }
           
        }


    }

    
}
