// Header
header {
    background-color: @header-color;
    padding-top: 30px;
    border-bottom: 5px solid @hover-color;
    border-top: 5px solid @hover-color;
    font-family: @font-header;

    //flex-work
    display: flex;
    justify-content: center;
    text-align: center;
    
    // border: 2px dashed;

    #branding {
        border-right: 1px solid;
        width: 50%;
        align-content: center;
    }

    .container {
        display: flex;
        // border: 2px solid;
        justify-content: center;
    }
}

header .highlight, header .current a {
    color: @hover-color;
}

header a:hover {
    color: @hover-color;

}

#showcase {
    min-height: 400px;
    background:url("../img/banter-snaps-9o8YdYGTT64-unsplash.jpg") no-repeat 0;

    .container {
        background: @fnt-color;
        opacity: 80%;
        color: @hover-color;
        border-radius: 2px;
        text-align: center;
        
    }
}
