// Navigation
nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid;
    width: 50%;

    a {
        color: @font-links;
          border: 1px dashed;
        //   height: 50px;
          display: flex;
          justify-content: flex-end;
          width: 150px;
          flex-direction: column;
          text-decoration: none;
          font-family: @font-sub;
          
    }

    ul {
        list-style: none;
        display: flex;
        
    }

    li {
        // display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


// Styling @media