// Navigation
nav {
    // mixin
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 30px;

    @media (max-width: 500px) {

        
            width: 90%;
            justify-content: space-evenly;
            margin: 0 auto;
        
        #social {
            background: @hover-color;
            width: 100%;
        }

        ul {
            
            justify-content: center;
            padding: 0;
           
        }
    

        
    }

    a {
        color: @font-links;
        text-decoration: none;
        font-family: @font-sub;
        justify-content: center;
          
    }

    p {
        color: @font-bottom;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        
    }

    li {
        // display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #social {
        display: flex;
       
        border-bottom: 1px solid;
        
        justify-content: space-evenly;
        padding-bottom: 2rem;
        // font-size: 30px;
    }
}

 

// Styling @media