
// color palet
@background-main:  #EFEFEF; //main bg color
@header-color: #7EAFBA; // main header,footer color 

// fonts
@font-fallback: Arial, Helvetica, sans-serif; //main text family
@font-header: 'Secular One', sans-serif;
@font-main: 'Montserrat', sans-serif;
@font-sub: 'Lato', sans-serif;

// font-color
@font-links: #D7d7d7; //links color
@fnt-color:  #D8D1AC; //main font color
@font-bottom: #474f60; //bottom font

// special colors
@hover-color: #e84916;
@twitter-color: #1da1f2;
@facebook-color: #1877f2;
// @instagram-color: #b900b4; 
// @insta-gram: #f50000;
@github-color: #10171e;

// media queries


@mobile: ~'(max-width: 500px)';

@tablet: ~'(max-width: 800px)';

@desktop: ~'(max-width: 1000px)';