
// color palet
@background-main:  #EFEFEF; //main bg color
@header-color: #7EAFBA; // main header,footer color 

// fonts
@font-fallback: Arial, Helvetica, sans-serif; //main text family
@font-header: 'Secular One', sans-serif;
@font-links: #D8D1AC; //links color
@font-main: 'Montserrat', sans-serif;
@font-sub: 'Lato', sans-serif;

@fnt-color:  #d7d7d7; //main font color


// special
@hover-color: #e84916;

