
// color palet
@background-main:  #EFEFEF; //main bg color
@header-color: #7EAFBA; // main header,footer color 

// fonts
@font-main: Arial, Helvetica, sans-serif; //main text family
@font-links: #D8D1AC; //links color

@fnt-color:  #d7d7d7; //main font color


// special
@hover-color: #e84916;

